.modal {
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
}

.modal .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 200px;
    width: 500px;

    border-radius: 10px;
    background-color: #111f;
}

.modal .close-btn {
    align-self: flex-end;

    margin-top: 8px;
    margin-right: 8px;
}

.modal .icon {
    transition: 0.2s ease;
}

.modal .close-btn:hover .icon {
    color: #ff2c2c;
    filter: drop-shadow(0 0 2px #ff2c2c);
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}